*{
    padding: 0;
    margin: 0;
}

body{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

.navbar-s1{
    color: blueviolet;

}

.navbar-s2{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 5px;
   
}

.navbar-s2 input{
   width: 100%;
   border: none;
}

.navbar-s2 input:focus{
    outline:none
}

.navbar-s3{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    margin: 2px;
}

.categories{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid black;
}

.categories p{
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border-radius: 20px;
}

.sale-image img{
    width: 100%;
}

.recommended__title{
    padding: 10px;
    margin-top: 5px;
}

.recommended__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-card{
    width: 300px;
    padding: 10px;
}

.course-card img{
    width: 100%;
    height: 50%;
    
}



.recommended__topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p{
    border: 2px solid grey;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    
}

.Most__popular-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer{
    background-color: black;
    color: white;
    padding: 10px;
}

.footer__one{
    display: flex;
    padding: 10px;
    margin: 10px;
}

.footer__one p{
    margin: 10px;
}

.footer__two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

